.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    
    
    
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
width: 120px;
height: 90px;
}
.links a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.link1{
    display: flex;
}
.links1 a{
    padding: 10px;
    text-decoration: none;
    color: black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.btn{
    color: aliceblue;
    background-color: black;
    border-radius: 3px;
    width: 170px;
    border: none;
    height: 40px;

}
/* 1 */
.content1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content1 p{
    color: gray;
}
.btn2{
    color: aliceblue;
    background-color: rgb(72, 133, 72);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.img1{
    display: flex;
    justify-content: center;
}
.no{
   font-size: 10px;
}
.Lest{
    display: flex;
    justify-content: center;
    gap: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.les{
    text-align: center;
    
}
.les p{
    font-size: 12px;
    color: gray;
}
/* 2 */

.content{
    display: flex;
    justify-content: center;
    padding: 80px 80px 0px 80px;
    

}

.cantoner{
    margin-left: -414px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cantoner p{
    color: gray;
}
.mediaa{
    display: flex;
    gap: 40px;
    padding: 30px 0px 00px 0px;
}
.imagbox{
    position: absolute;
    left: 737px;
    bottom: -672px;
}
.cantoner2{
    margin: 0px 116px;
    padding: 50px ;
     background-color:  rgb(255, 203, 166);
     border: solid 2px;
     width: 65%;
     height: 20%;
     border-radius: 50px 50px 50px 50px ;}
.btn3{
    
    background-color: rgb(255, 203, 166);
    width: 200px;
    height: 40px;
    border-radius: 40px;
    
}
.insta h4{
    font-family: 'Times New Roman', Times, serif;
    
} 

.cantoner{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cantoner p{
    color: gray;
}
.mediaa{
    display: flex;
    gap: 40px;
    padding: 30px 0px 00px 0px;
}
/* 3333333 */
.btn4{
    margin: 48px;
    background-color: rgb(110, 252, 172);
    width: 200px;
    height: 40px;
    border-radius: 40px;
    
}
.insta h4{
    font-family: 'Times New Roman', Times, serif;
    
} 
.imaggren{
    position: absolute;
    right: 750px;
    bottom: -1300px;
}

    

.skils{
     display: flex;
   align-items: center;
   justify-content: space-between;
  
}
.profil{
    display: flex;
    gap: 5px;

}
.profil img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.star{
    display: flex;
   align-items: center;
   gap: 10px;
   
}
.cantoner3{
    margin: 0px 116px;
    padding: 50px ;
     background-color: rgb(110, 252, 172);   
     border: solid 2px;
     width: 65%;
     height: 20%;
     border-radius: 50px 50px 50px 50px ;

    
}
.skils{
     display: flex;
   align-items: center;
   justify-content: space-between;
  
}
.profil{
    display: flex;
    gap: 5px;

}
.profil img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.star{
    display: flex;
   align-items: center;
   gap: 10px;
   
}
.conten4{
margin-left: 518px;
}
/* 55555555 */
.content5{
    display: flex;
    justify-content: center;
    padding: 80px 80px 0px 80px;
    margin: ;

}

.cantoner{
    margin-left: -534px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cantoner p{
    color: gray;
}
.mediaa{
    display: flex;
    gap: 40px;
    padding: 30px 0px 00px 0px;
}
.imagblue{
    position: absolute;
    left: 609px;
    bottom: -2015px;
}
.cantoner5{
    margin: 0px 116px;
    padding: 50px ;
     background-color:  rgb(84, 107, 255);
     border: solid 2px;
     width: 65%;
     height: 20%;
     border-radius: 50px 50px 50px 50px ;}
.btn5{
    
    background-color: rgb(84, 107, 255);
    width: 200px;
    height: 40px;
    border-radius: 40px;
    
}
.insta h4{
    font-family: 'Times New Roman', Times, serif;
    
} 

.cantoner{
    font-family: 'Franklin Gothic Medium',srgb 'Arial Narrow', Arial, sans-serif;
}
.cantoner p{
    color: gray;
}
.mediaa{
    display: flex;
    gap: 40px;
    padding: 30px 0px 00px 0px;
}
.tout1{
display: flex;
padding: 10px 60px;
border: solid 3px  gray;
margin: 30px 250px 30px 120px;
border-radius: 50px;
}
.tout1 p{
    color: gray;
}
.spa{
    display: flex;
    padding: 50px;
   gap: 30px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tout2{
    display: flex;
    justify-content: center;
    padding-right: 100px;
    gap: 100px;
}

.tout2{
    margin: 0;
}
.cart{
    border: solid 3px gray;
    padding: 50px;
    border-radius: 30px;
    width: 140px;
    height: 140px;
    gap: 100px;
}
#icons{
    background-color: yellow;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 5px;
}
.tout3{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: solid 3px gray;
    margin: 30px 260px 30px 120px;
    border-radius: 30px;
}
.bnt{
    text-align: center;
    padding: 30px 0px 0px 0px;
    position: relative;
    right: 100px;
}
.bntn{
     color: rgb(0, 4, 8);
    background-color: rgb(224, 208, 36);
    width: 250px;
    height: 50px;
    border-radius: 10px;
    
}


/* foutres */

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

.logo1{
    height: 50px;
    background-color: aliceblue;
  
}
.list{
     display: flex;
     color: rgb(209, 211, 213);
  gap: 10px;
padding-left: 150px;
}
.list ul{
    list-style: none;
}
.list h4{
    color: gray;
}

footer a{
    text-decoration: none;
    color: rgb(245, 215, 215);
}
footer li{
    list-style: none;
    color: white;
}

.foter1{
    display: flex;
 gap: 100px;
}












.fotr{
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo1{
    position: relative;
    right: 100px;
    width: 100px;
    top: 20px;
    height: 30px;
    background:none;
}
.list{
     display: flex;
     
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  
} 
.list li{
    list-style: none;
    font-weight: normal;
}
.list li a{
    color: rgb(172, 207, 242);
    text-decoration: none;
     font-family: "Poppins", sans-serif;
  font-size: 16px;

}
.list h4{
    color: rgb(247, 170, 170);
}
.social{
   position: relative;
   top: 1px;
   left: 1150px;
   color: #ffffff;
}
.fot{
    background-color: black;
}
.pla{
    display: flex;
    justify-content: center;
    gap: 550px;
    position: relative;
    left: 140px;
    padding: 20px;
}
.play{
    display: flex;
    color: #ffffff;
}
.appl{
    width: 100px;
    height: 30px;
    border: solid 1px rgb(165, 162, 162);
    border-radius: 5px;
}
.playstor{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.play{
    width: 100px;
    height: 30px;
}
.search{
    border: solid 2px gray;
background-color: black;
border-radius: 5px;
color: #ffffff;
}
.global{
    color: #ffffff;
    
}
.glo{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px ;
}
.glo ul{
    display: flex;
    gap: 10px;
    
}
.glo ul a{
    text-decoration: none;
    color: #ffffff;
}
.ecwid{
    color: rgb(148, 148, 196);
    text-decoration: none;
}
hr{
    display: flex;
    justify-content: center;
    width: 90%;
}

.ecwid{
    text-decoration: none;
}